.discord-modal {
    height: 318px;
    width: 552px;
    background-color: #2D3447;
    border: 1px solid #C9C9C9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    overflow: hidden;
}

.discord-modal-gradient {
    position: absolute;
    left: -45px;
    top: 0px;
    background-color: #F937B326;
    border-radius: 50%;
    filter: blur(100px);
    height: 100%;
    width: 20%;
}

.discord-close-icon {
    position: absolute;
    top: 14px;
    right: 16px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    z-index: 5;
}

.discord-close-icon:hover {
    filter: brightness(0.8);
}

.discord-modal-icon {
    height: 78px;
    width: 78px;
    z-index: 5;
}

.discord-modal-heading {
    color: #FFE94D;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 1px;
    text-align: center;
    z-index: 5;
}

.discord-modal-heading-title {
    color: #B175FE;
}

.discord-modal-heading-description {
    color: #53D3E0;
}

.discord-modal-btn {
    height: 60px;
    width: 209px;
    margin-top: 6px;
    color: #ffffff;
    background-color: #D0CFCE1A;
    border: 1px solid #7C7C7C;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    z-index: 5;
}

.discord-modal-btn:hover {
    background-color: #a87fdd;
}

.discord-modal-btn-icon {
    height: 25px;
    width: 25px;
}

.discord-modal-btn-text {
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23.6px;
    letter-spacing: 0.03em;
}